@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html, body{

  background: linear-gradient(to right, rgba(40,54,84,1) 0%, rgba(77,99,140,1) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
}
.container{

  background: #fff;
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  width: 100%;
  height: 700px;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.container form .title{
  font-size:40px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  top: 0px;
  position: relative;
}
.container form .title:before{
  content: '';
  position: absolute;
  height: 4px;
  width: 35px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
  background: linear-gradient(to right, #99004d 0%, rgba(40,54,84,1) 0%, rgba(77,99,140,1) 100%);
}
.container form .input-box{
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.container form .input-box button{
  width: 100%;
  height: 45px;
  margin-top: 2px;
  position: relative;
}
.container form .input-box input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.container form .underline::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.container form .underline::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #99004d 0%, rgba(40,54,84,1) 0%, rgba(77,99,140,1) 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.container form .input-box input:focus ~ .underline::after,
.container form .input-box input:valid ~ .underline::after{
  transform: scaleX(1);
  transform-origin: left;
}
.container form .button{
  margin: 40px 0 20px 0;
}
button{
  background: linear-gradient(to right, #99004d 0%, rgba(40,54,84,1) 0%, rgba(77,99,140,1) 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}
button:hover{
  letter-spacing: 1px;
  background: linear-gradient(to left, #99004d 0%, rgba(40,54,84,1) 0%, rgba(77,99,140,1)100%);
}
.container .option{
  font-size: 14px;
  text-align: center;
}


 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{

   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }

 form .button input{


   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;

 }

 @media(max-width: 584px){

 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
.container form button{
  background: linear-gradient(to right, #99004d 0%, rgba(40,54,84,1) 0%, rgba(77,99,140,1) 100%);
  font-size: 17px;

  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.option {
  text-align: center;
  color:#edf4f6;
}
.retour {
  color:#edf4f6;

}
.retour:hover {
  text-decoration: underline;
  color: #edf4f6;
}


.band {
  color:#edf4f6;
  margin-left: 20px;
}
.alert {
  color: orangered;
  font-size: 18px;
  font-weight: 400;
  background-color: white;
}
@media screen and (max-height:1499px) {
  body{
    
    height:830px
  
    };
  }
  .error{
    color: red;

  }